<header class="site-header">
  <!-- <a href="https://cscw.acm.org/2026/" class="logo"> -->
    <!-- <span class="logo-text">CSCW</span><span style="margin-left: 4px;" class="logo-year">2026</span> -->
    <!-- 
    <div class="logo-dots">
      <span class="logo-dot"></span>
      <span class="logo-dot-blue"></span>
    </div>
    -->
  <!-- </a> -->
   <a href="https://cscw.acm.org/2026/" class="logo">
  <img src="/2026/images/conf-logo.webp" alt="CSCW 2026" class="logo-image">
  
</a>
  
  <button class="mobile-menu-button" aria-label="Toggle menu" id="mobileMenuButton">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
  
  <ul class="nav-menu" id="navMenu">
    <li class="nav-item">
      <a href="https://cscw.acm.org/2026/" class="nav-link">HOME</a>
    </li>
    <li class="nav-item">
      <a href="/2026/papers.html" class="nav-link">SUBMIT</a>
      <div class="dropdown">
        <ul class="dropdown-list">
          <li class="dropdown-item">
            <a href="/2026/papers.html" class="dropdown-link">PAPERS</a>
          </li>
          <li class="dropdown-item">
            <a href="/2026/posters.html" class="dropdown-link">POSTERS</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a href="/2026/venue.html" class="nav-link">ATTEND</a>
      <div class="dropdown">
        <ul class="dropdown-list">
          <li class="dropdown-item">
            <a href="/2026/venue.html" class="dropdown-link">VENUE AND ACCOMMODATION</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a href="/rolling.html" class="nav-link">ROLLING SUBMISSIONS</a>
    </li>
    <li class="nav-item">
      <a href="/2026/blogs.html" class="nav-link">BLOG</a>
    </li>
    <li class="nav-item">
      <a href="/2026/codeofconduct.html" class="nav-link">CODE OF CONDUCT</a>
    </li>
    <li class="nav-item">
      <a href="/2026/organizing.html" class="nav-link">ABOUT CSCW</a>
      <div class="dropdown">
        <ul class="dropdown-list">
          <li class="dropdown-item">
            <a href="/2026/organizing.html" class="dropdown-link">ORGANIZING COMMITTEE</a>
          </li>
          <li class="dropdown-item">
            <a href="/2026/program.html" class="dropdown-link">PROGRAM COMMITTEES</a>
          </li>
          <li class="dropdown-item">
            <a href="/2026/steering.html" class="dropdown-link">STEERING COMMITTEE</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</header>
